:root{
    --GS01: #ffffff;
    --GS02: #D6D6D6;
    --GS03: #A8A8A8;
    --GS04: #999999;
    --GS05: #6C6C6C;
    --GS06: #505050;
    --GS07: #1A1A1A;
    --GS08: #000000;

    --RS01: #A80C16;
    --RS02: #990B14;
    --RS03: #64070D;
    --RS04: #4F060A;

    --BS01: #4587D6;
    --BS02: #366AA8;
    --BS03: #316099;
    --BS04: #19324F;

    --OS01: #FF8D00;
    --OS02: #C76E00;
    --OS03: #A85D00;
    --OS04: #995500;
    --OS05: #6B3C00;
    --OS06: #4F2C00;

    --GRS01: #BEFFDA;
    --GRS02: #7DA890;
    --GRS03: #61826F;
    --GRS04: #506B5B;
    --GRS05: #3B4F43;

    --BRS01: #FFE2BA;
    --BRS02: #D6BE9D;
    --BRS03: #A08E75;
    --BRS04: #998770;
    --BRS05: #6B5F4F;
    --BRS06: #4F4639;

    --sp10: 10px;
    --sp15: 15px;
    --sp20: 20px;
    --sp25: 25px;
    --sp30: 30px;
    --sp40: 40px;
    --sp50: 50px;
    --sp60: 60px;
    --sp70: 70px;
    --sp80: 80px;
    --sp100: 100px;
    --sp120: 120px;
    --sp150: 150px;
    --sp160: 160px;
    --sp215: 215px;
}

[class^='rhc']{font-family: "RHC";}
[class^='bar']{font-family: "BaronSans";}
[class^='nun']{font-family: "Nunito";}
[class^='mont']{font-family: "Montserrat";}

[class*="HA"]{font-weight: 100;}
[class*="HI"]{font-weight: 100; font-style: italic;}
[class*="UL"]{font-weight: 200;}
[class*="TH"]{font-weight: 300;}
[class*="LI"]{font-weight: 400;}
[class*="RO"]{font-weight: 500;}
[class*="RI"]{font-weight: 500; font-style: italic;}

[class*="LL"]{font-weight: 300;}
[class*="RR"]{font-weight: 400;}
[class*="MM"]{font-weight: 500;}
[class*="SS"]{font-weight: 600;}
[class*="BB"]{font-weight: 700;}
[class*="BI"]{font-weight: 900; font-style: italic;}

[class*='48']{font-size: 48px; line-height: 58px;}
[class*='20']{font-size: 20px; line-height: 26px;}
[class*='18']{font-size: 18px; line-height: 24px;}
[class*='16']{font-size: 16px; line-height: 22px;}
[class*='14']{font-size: 14px; line-height: 20px;}
[class*='12']{font-size: 12px; line-height: 18px;}

.montLL36{font-size: 36px; line-height: 36px;}
.montMM24{font-size: 24px; line-height: 30px;}
.barRO24{font-size: 24px; line-height: 36px;}
.barTH16{line-height: 28px;}

[class*='flexA']{display: flex;}
[class*='JCCA']{justify-content: center;}
[class*='wrapA']{flex-wrap: wrap;}
[class*='AICA']{align-items: center;}
[class*='JCEA']{justify-content: flex-end;}
.textCenter{text-align: center;}
.textRight{text-align: right;}
.textLeft{text-align: left;}
.marCen{margin: 0 auto;}
[class*='gS01']{color: var(--GS01);}
[class*='gS02']{color: var(--GS02);}
[class*='gS03']{color: var(--GS03);}
[class*='gS04']{color: var(--GS04);}
[class*='gS05']{color: var(--GS05);}
[class*='gS06']{color: var(--GS06);}
[class*='gS08']{color: var(--GS08);}
[class*='bS01']{color: var(--BS01);}
[class*='bS02']{color: var(--BS02);}
[class*='bS03']{color: var(--BS03);}
[class*='oS01']{color: var(--OS01);}
[class*='oS03']{color: var(--OS03);}
[class*='oS04']{color: var(--OS04);}
[class*='oS05']{color: var(--OS05);}
[class*='oS06']{color: var(--OS06);}
[class*='rS01']{color: var(--RS01);}
[class*='rS02']{color: var(--RS02);}
[class*='brS03']{color: var(--BRS03);}
[class*='brS04']{color: var(--BRS04);}
[class*='brS05']{color: var(--BRS05);}
[class*='grS03']{color: var(--GRS03);}
[class*='grS04']{color: var(--GRS04);}
/* [class*='mB10']{margin-bottom: var(--sp10);}
[class*='mB15']{margin-bottom: var(--sp15);}
[class*='mB20']{margin-bottom: var(--sp20);}
[class*='mB25']{margin-bottom: var(--sp25);}
[class*='mB30']{margin-bottom: var(--sp30);}
[class*='mB40']{margin-bottom: var(--sp40);}
[class*='mB50']{margin-bottom: var(--sp50);}
[class*='mB60']{margin-bottom: var(--sp60);}
[class*='mB70']{margin-bottom: var(--sp70);}
[class*='mB80']{margin-bottom: var(--sp80);}
[class*='mB100']{margin-bottom: var(--sp100);}
[class*='mB120']{margin-bottom: var(--sp120);} */
[class*='disB']{display: block;}

[class^='snsIco']{
    display: block; text-indent: -9999px; height: 30px;
    background-repeat: no-repeat; background-position: center;
    position: relative; overflow: hidden;
}
.snsIcoGlobal:before,
.snsIcoInstagram:before,
.snsIcoTwitter:before{
    width: 0;
}
.snsIcoFacebook:before,
.snsIcoYoutube:before{
    width: 100%;
}
[class^='snsIco']:before{
    content: ''; display: block; height: 0; position: absolute; top: 0; left: 0;
    transition: width 0.3s, height 0.3s; background-repeat: no-repeat;
}

.snsIcoGlobal{background-image: url('../images/ico_sns_01.png'); width: 29px;}
.snsIcoFacebook{background-image: url('../images/ico_sns_02.png'); width: 17px;}
.snsIcoInstagram{background-image: url('../images/ico_sns_03.png'); width: 30px;}
.snsIcoYoutube{background-image: url('../images/ico_sns_04.png'); width: 30px;}
.snsIcoTwitter{background-image: url('../images/ico_sns_05.png'); width: 32px;}

.snsIcoGlobal:before{background-image: url('../images/ico_sns_01_hover.png');}
.snsIcoFacebook::before{background-image: url('../images/ico_sns_02_hover.png');}
.snsIcoInstagram::before{background-image: url('../images/ico_sns_03_hover.png');}
.snsIcoYoutube::before{background-image: url('../images/ico_sns_04_hover.png');}
.snsIcoTwitter::before{background-image: url('../images/ico_sns_05_hover.png');}

.roleRabel{
    font-family: 'MontSerrat'; font-size: 16px; font-weight: 500; font-style: normal; 
    color: var(--GS01); display: inline-block; line-height: 43px; padding: 0 var(--sp20) 0 32px;
    position: absolute; right: 0;
}

.artistRole{
    font-family: "Nunito"; font-weight: 700; font-size: 12px; line-height: 24px; color: var(--BS02);
}

.productHit{
    font-family: "Nunito"; font-size: 12px; font-weight: 700; font-style: normal;
    color: #fff; background-color: var(--RS01); text-align: center;
    display: block; width: 100%; max-width: 66px; line-height: 22px;
    position: absolute; top: 0; right: 0;
}

.pager ol li{
    color: var(--GS04); 
}
.pager ol li.active{
    color: var(--GS08);
}
.pager ol li a{
    display: block; 
}
.pager>a:first-child{
    background: url('../images/arrow_pager_prev.png') left center no-repeat;
    padding-left: var(--sp10);
}
.pager ol+a{
    background: url('../images/arrow_pager_next.png') right center no-repeat;
    padding-right: var(--sp10);
}

.btnLearnMore{
    display: block; border: 1px solid var(--BS02); box-sizing: border-box;
    padding: var(--sp15) var(--sp10); text-align: center; color: var(--BS02);
    max-width: 168px; position: relative;
    font-family: "Nunito"; font-size: 14px; font-weight: 600;
}
.btnLearnMore:before{
    content: ''; opacity: 0; width: 1px; height: 46px; background-color: var(--BS02);
    position: absolute; top: 0; left: 0; z-index: -1;
    transition: width 0.3s, opacity 0.3s ease;
}

.btnLearnMore:after{
    content: url('../images/arrow_learn_more.png'); padding-left: 10px;
    transition: padding 0.3s ease;
}

[class*='btnContent']{
    display: inline-block; border: 1px solid var(--GS08); border-radius: 3px;
    padding: var(--sp10) var(--sp40); text-align: center; color: var(--GS08); box-sizing: border-box;
    font-family: "Nunito"; font-weight: 600; font-size: 14px; width: max-content;
}

.btnContentWhite{
    border-color: var(--GS01); color: var(--GS01);
}

.btnClose{
    position: absolute; height: 25px; width: 25px; display: block;
}
.btnClose img{
    position: absolute; left: 0; top: 0; transition: transform 0.3s ease;
}

.btnSend{
    font-family: "BaronSans"; font-size: 14px; font-weight: 400; text-align: center;
    cursor: pointer; display: block; color: var(--GS01); border: 1px solid var(--BRS04);
    background-color: var(--BRS04); padding: 0 var(--sp15); line-height: 42px; width: 100%;
    box-sizing: border-box;
}

.btnVideo{
    border: 1px solid var(--GS01); border-radius: 3px;
    box-sizing: border-box; position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%); text-align: center; color: var(--GS01); 
    background-color: transparent; width: 100%;
    font-family: 'Nunito'; font-size: 14px; font-weight: 600;
}

[class^='checkPopup']{
    display: none; background-color: var(--GS01); z-index: 1;
    position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%);
    box-sizing: border-box; border: 1px solid var(--GS08); 
    flex-direction: column; flex-wrap: wrap; align-content: center; justify-content: center;
}

[class^='checkPopup'].active{
    display: flex;
}

.checkPopup img{
    max-width: 77px; margin: 0 auto var(--sp10);
}

.checkPopupPurchase{
    width: 540px; height: 240px;
}
.checkPopupPurchase p{
    margin-bottom: var(--sp40); text-align: center;
}
.checkPopupPurchase a{
    max-width: 220px; margin: 0 auto;
}

.checkPopupDelete input{
    border: 1px solid var(--GS08); padding: 0 var(--sp15); background-color: transparent;
    display: block; max-width: 260px; box-sizing: border-box;
    position: relative; line-height: 40px;
    margin: 0 auto; width: 100%;
}

.checkPopupDelete input:first-of-type{
    margin: var(--sp15) auto var(--sp10);
}

.videoBox.active,
.videoContent{
    position: relative;
}
.videoBox iframe,
.videoContent video{
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

li:has(.onCheck):after{
    content: ''; display: block; clear: both;
}

[class^='onCheck']{
    position: relative; display: block;
}
[class^='onCheck'] input:not(input[type='button']){
    font-family: "BaronSans"; font-size: 14px; font-weight: 400; padding: 0 0 0 var(--sp10);
    display: block; width: 100%; line-height: 42px; border: 1px solid var(--GS02); box-sizing: border-box;
    background-color: transparent;
}

[class^='onCheck']:before,
[class^='onCheck']:after{
    content: ''; position: absolute; width: 0; height: 0;
    border: 0px solid var(--OS01); box-sizing: border-box;
    transition: width 1s ease, height 1.2s ease, border-width 1s ease;
}

[class^='onCheck']:before{
    top: 0; left: 0;
}
[class^='onCheck']::after{
    bottom: 0; right: 0;
}
[class^='onCheck']:has(input:focus):before{
    border-width: 1px 0 0 1px;
}
[class^='onCheck']:has(input:focus):after{
    border-width: 0 1px 1px 0;
}
[class^='onCheck']:has(input:focus):before,
[class^='onCheck']:has(input:focus):after{
    width: 100%; height: 100%;
}
[class^='onCheck'] input:focus{
    outline: none;
}
.onCheck{
    margin-bottom: 5px;
}

[class^='onCheck']:has(input:valid)+mark{
    visibility: hidden;
}
[class^='onCheck']:has(input:invalid)+mark{
    visibility: visible;
}

li:has(.onCheckNotPlus){
    padding-bottom: 23px;
}

span:has(.icoVisibility) input[type='text']~input{
    background-image: url('../images/off_visibility.png');
}
.icoVisibility{
    position: absolute; right: 3.57%; top: 13.5px; width: 18px; height: 17px;
    background: url('../images/on_visibility.png') no-repeat center transparent;
    text-indent: -9999px; padding: 0; border: none; z-index: 1;
}

.messageRequired{
    font-family: "BaronSans"; font-size: 12px; font-weight: 500; font-style: normal;
    line-height: 18px; color: var(--RS02); background-color: transparent; float: right;
}

.placeContainer{
    display: flex; align-items: flex-end; padding-bottom: var(--sp215);
    height: 100vh; margin: 0 auto var(--sp150); box-sizing: border-box;
    background-repeat: no-repeat; background-size: cover;
}
.placeContainer h2{
    color: var(--GS01); margin-bottom: var(--sp30);
}
.placeContainer p{
    color: var(--GS02); max-width: 1000px;
}

.floatBoxP div small,
.productCollection ul li div small{
    float: left; color: var(--GS06);
}
.floatBoxP div strong,
.productCollection ul li div strong{
    float: right; color: var(--BS01);
}

.floatBoxP li a{
    margin-bottom: var(--sp20);
}
.floatBoxP li a img{
    display: block; width: 100%; 
}
.floatBoxP li div{
    position: relative;
}
.floatBoxP li div:after,
.floatBoxELL:after,
.productCollection ul li div:after{
    content: ''; display: block; clear: both;
}
.floatBoxP li div :first-child{
    margin-bottom: var(--sp15); padding-right: 77px;
}
.floatBoxNER>:last-child{
    float: right;
}
.floatBoxELL>:nth-last-child(-n+2){
    float: left;
}

.productCollection ul li a{
    display: block; margin-bottom: var(--sp20);
}
.productCollection ul li a img{
    display: block; width: 100%;  
}
.productCollection ul li div{
    position: relative;
}
.productCollection ul li div :first-child{
    margin-bottom: var(--sp15); padding-right: 77px;
}
.productCollection>div p{
    color: var(--GS06);
}

.autoSlide>li figure{
    margin-bottom: var(--sp60); text-align: center;
}
.autoSlide>li figure img{
    display: block; width: 100%; margin-bottom: var(--sp60);
}
.autoSlide>li>div{
    margin-bottom: var(--sp70);
}
.autoSlide>li>div h4{
    color: var(--GS06); margin-bottom: var(--sp80); width: 100%;
}
.autoSlide>li>div h4 small{
    color: var(--BS02);
}
.autoSlide>li>div>div p:not(:last-child){
    margin-bottom: var(--sp70);
}
.autoSlide>li>p{
    text-align: center; margin-bottom: var(--sp40); color: var(--GS06);
}
.autoSlide>li>a{
    margin: 0 auto;
}

.listVideoContent{
    display: flex; flex-wrap: wrap; margin-bottom: var(--sp100);
}
.listVideoContent>div:first-of-type .videoBox.active{
    padding-bottom: 56.25%;
}
.listVideoContent>div:first-of-type div:nth-child(2){
    position: relative;
}
.listVideoContent>div:first-of-type img{
    width: 100%; display: block;
}
.listVideoContent ul li *{
    display: block;
}
.listVideoContent ul li a img{
    width: 100%;
}
.listVideoContent ul li span small{
    margin-bottom: var(--sp10); color: var(--GS03);
}
.listVideoContent>div:nth-of-type(2)>:first-child{
    margin-bottom: var(--sp15);
}
.listVideoContent>div:nth-of-type(2) :first-child small{
    display: block; padding-bottom: var(--sp15); color: var(--GS03);
}
.listVideoContent>div:nth-of-type(2) p{
    color: var(--GS06);
}

@media screen and (max-width: 767px){
    :root{
        --sp70: 50px;
        --sp100: 80px;
        --sp120: 80px;
        --sp150: 100px;
        --sp215: 100px;
    }

    [class*='66']{font-size: 40px; line-height: 50px;}
    [class*='54']{font-size: 34px; line-height: 44px;}
    [class*='52']{font-size: 32px; line-height: 42px;}
    .montRR30{font-size: 20px; line-height: 26px;}
    .barUL36{font-size: 30px; line-height: 40px;}
    .barRI30{font-size: 24px; line-height: 30px;}
    .barRO30{font-size: 22px; line-height: 28px;}

    [class*='flexM']{display: flex;}
    [class*='wrapM']{flex-wrap: wrap;}
    .textCenterM{text-align: center;}
    .textRightM{text-align: right;}
    .marCenM{margin: 0 auto;}

    .artistRole{
        display: block;
    }

    .roleRabel{
        background: url('../images/bg_roleRabel.svg') left -5% center no-repeat var(--BS03);
        top: 193px; transform: rotate(90deg) translateY(-60%);
    }

    .pager{
        box-sizing: border-box;
    }
    .pager,
    .pager ol{
        display: flex; justify-content: space-between;
    }
    .pager ol{
        gap: var(--sp30); margin: 0 auto;
    }
    .pager ol li{
        display: none;
    }
    .pager ol li.active,
    .pager ol li.on{
        display: block;
    }

    [class^='checkPopup']{
        width: 100%; height: 46%; 
    }

    [class^='checkPopup'] p{
        text-align: center; padding: 0 2%;
    }

    .btnVideo{
        padding: 10px 5px; max-width: 113px;
    }

    .btnClose{
        top: 20px; right: 2%;
    }

    .floatBoxP li div small{
        width: 80%;
    }
    .floatBoxNERM>:last-child{
        float: right;
    }
    .productCollection ul li:not(:last-child){
        margin-bottom: var(--sp50);
    }
    .autoSlide>li>div h4{
        text-align: center;
    }
    .autoSlide>li>div h4 small{
        display: block; padding-top: var(--sp30);
    }
}

@media screen and (max-width: 1279px){
    .rhcUL36{font-size: 30px; line-height: 40px;}
    .rhcTH24{font-size: 20px; line-height: 26px;}

    [class*='flexSM']{display: flex;}
    [class*='wrapSM']{flex-wrap: wrap;}
    [class*='JCCSM']{justify-content: center;}
    .textCenterSM{text-align: center;}
    .textRightSM{text-align: right;}
    .marCenSM{margin: 0 auto;}

    .productCollection{
        display: flex; flex-wrap: wrap; position: relative;
    }
    .productCollection ul{
        order: 1; margin: 0 auto;
    }
    .productCollection>div{
        text-align: center; margin: 0 auto var(--sp50);
    }
    .productCollection>div h2{
        margin-bottom: var(--sp30);
    }
    .productCollection>div a{
        position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);
    }
    .autoSlide>li>div ol{
        display: none;
    }
   .listVideoContent>div:first-of-type{
        width: 100%;
    }
   .listVideoContent>div:first-of-type div:nth-child(2){
        margin-bottom: var(--sp25);
    }
   .listVideoContent ul{
        order: 1; margin-bottom: var(--sp30); width: 100%;
    }
   .listVideoContent ul:after{
        content: ''; display: block; clear: both;
    }
   .listVideoContent ul li{
        float: left; width: 32%;
    }
   .listVideoContent ul li:not(:first-child){
        margin-left: 2%;
    }
   .listVideoContent ul li a{
        margin-bottom: var(--sp15);
    }
   .listVideoContent>div:nth-of-type(2){
        margin-bottom: var(--sp50);
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px){
    :root{
        --sp100: 90px;
        --sp120: 100px;
        --sp150: 110px;
        --sp215: 140px;
    }

    [class*='66']{font-size: 44px; line-height: 54px;}
    [class*='54']{font-size: 40px; line-height: 50px;}
    [class*='52']{font-size: 36px; line-height: 46px;}
    .montRR30{font-size: 24px; line-height: 30px;}
    .barRO30{font-size: 26px; line-height: 32px;}

    .textCenterT{text-align: center;}
    .marCenT{margin: 0 auto;}

    .floatBoxP li div{
        min-height: 80px;
    }
    .floatBoxP li div :first-child,
    .productCollection ul li div :first-child{
        min-height: 44px;
    }
    .listVideoContent{
        max-width: 960px;
    }
}

@media screen and (min-width: 768px){
    [class*='48']{font-size: 48px; line-height: 58px;}
    .barUL36{font-size: 36px; line-height: 46px;}
    .barRI30{font-size: 30px; line-height: 40px;}

    [class*='flexST']{display: flex;}
    [class*='wrapST']{flex-wrap: wrap;}
    [class*='JCBST']{justify-content: space-between;}
    [class*='JCCST']{justify-content: center;}
    .textCenterST{text-align: center;}
    .marCenST{margin: 0 auto;}

    .artistRole{
        float: right;
    }

    .roleRabel{
        background: url('../images/bg_roleRabel.svg') left center no-repeat var(--BS03);
        top: 0; transform: translateY(-100%);
    }

    .pager{
        text-align: center;
    }
    .pager ol{
        display: inline-block; margin: 0 3.75%;
    }
    .pager ol li{
        display: inline-block;
    }
    .pager ol li:not(:first-child){
        margin-left: var(--sp30);
    }

    [class^='checkPopup']{
        width: 740px; height: 550px;
    }

    .btnVideo{
        padding: var(--sp10); max-width: 143px;
    }

    .btnClose{
        top: 40px; right: 40px;
    }

    .floatBoxP:after,
    .floatBoxDTL:after{
        content: ''; display: block; clear: both;
    }
    .floatBoxP>li,
    .floatBoxDTL>*{
        float: left;
    }
    .productCollection ul li:first-child{
        margin-bottom: var(--sp50);
    }
    .productCollection ul li:not(:first-child){
        width: 48.125%; display: inline-block; vertical-align: top;
    }
    .productCollection ul li:last-child{
        margin-left: calc(3.75% - 6px);
    }
    .autoSlide>li>div h4 small{
        float: right; line-height: 46px;
    }
}

@media screen and (min-width: 1280px){
    [class*='66']{font-size: 66px; line-height: 76px;}
    [class*='54']{font-size: 54px; line-height: 64px;}
    [class*='52']{font-size: 52px; line-height: 62px;}
    .rhcUL36{font-size: 36px; line-height: 46px;}
    .rhcTH24{font-size: 24px; line-height: 30px;}
    .montRR30{font-size: 30px; line-height: 40px;}
    .barRO30{font-size: 30px; line-height: 40px;}
    .montBI24{font-size: 24px; line-height: 30px;}

    [class*='flexD']{display: flex;}
    [class*='JCCAICD']{justify-content: center; align-items: center;}
    [class*='AICD']{align-items: center;}
    [class*='JCBD']{justify-content: space-between;}
    [class*='ASCD']{align-self: center;}
    [class*='ASED']{align-self: flex-end;}
    [class*='JCCD']{justify-content: center;}
    .textCenterD{text-align: center;}
    .textRightD{text-align: right;}
    .textLeftD{text-align: left;}
    .marCenD{margin: 0 auto;}

    [class^=snsIco]:hover::before{
        height: 100%; width: 100%;
    }

    [class^='ico']{background-repeat: no-repeat; background-position: left center; padding-left: var(--sp20); line-height: 16px;}
    .icoBDF{background-image: url('../images/ico_finish_black_diamond_finish_fly.png');}
    .icoCMHSL{background-image: url('../images/ico_finish_charcoal_metallic_hard_satin_lacquer.png');}
    .icoCSGL{background-image: url('../images/ico_finish_cherry_stain_gloss_lacquer.png');}
    .icoCSF{background-image: url('../images/ico_finish_chrome_shadow_finish_fly.png');}
    .icoESGL{background-image: url('../images/ico_finish_ebony_stain_gloss_lacquer.png');}
    .icoGMHSL{background-image: url('../images/ico_finish_gold_mist_hard_satin_lacquer.png');}
    .icoGSF{background-image: url('../images/ico_finish_gold_sparkle_finish_fly.png');}
    .icoNGL{background-image: url('../images/ico_finish_natural_gloss_lacquer.png');}
    .icoPSF{background-image: url('../images/ico_finish_pewter_sparkle_finish_fly.png');}
    .icoTB{background-image: url('../images/ico_finish_tobacco_burst.png');}
    .icoTS{background-image: url('../images/ico_finish_tobacco_stain.png');}
    .icoWMPF{background-image: url('../images/ico_finish_white_marine_pearl_finish_fly.png');}
    .icoWGL{background-image: url('../images/ico_finish_white_gloss_lacquer.png');}
    .icoBS{background-image: url('../images/ico_finish_black_satin.png');}
    .icoBST{background-image: url('../images/ico_finish_blue_slate_satin.png');}
    .icoNS{background-image: url('../images/ico_finish_natural_satin.png');}
    .icoSGGL{background-image: url('../images/ico_finish_steel_gray_gloss_lacquer.png');}
    .icoTBGL{background-image: url('../images/ico_finish_tobacco_burst_gloss_lacquer.png');}
    .icoCBO{background-image: url('../images/ico_finish_candy_black_burst_over_curly_maple_exotic.png');}
    .icoBGF{background-image: url('../images/ico_finish_black_galaxy_finish_fly.png');}
    .icoBCML{background-image: url('../images/ico_finish_black_cherry_metallic_lacuqer.png');}
    .icoMBML{background-image: url('../images/ico_finish_midnight_blue_metallic_lacquer.png');}
    .icoPAA{background-image: url('../images/ico_finish_polished_anodized_aluminum.png');}
    .icoGAA{background-image: url('../images/ico_finish_graphite_anodized_aluminum.png');}
    .icoCAA{background-image: url('../images/ico_finish_cobalt_anodized_aluminum.png');}
    .icoGMAA{background-image: url('../images/ico_finish_gun_metal_anodized_aluminum.png');}
    .icoBLA{background-image: url('../images/ico_finish_black.png');}
    .icoCHR{background-image: url('../images/ico_finish_chrome.png');}

    [class*='btnContent']{
        position: relative; transition: color 0.3s ease; overflow: hidden;
    }
    [class*='btnContent']:before{
        content: ''; position: absolute; top: 0; left: 0; width: 130%; height: 100%; 
        background: linear-gradient(-45deg, transparent 30px, var(--GS08) 0);
        transform: translateX(-100%); transition: transform 0.5s cubic-bezier(0,.8,1,.23);
        z-index: -1; 
    }
    [class*='btnContent']:hover::before{
        transform: translate(0); 
    }
    .btnContent:hover{
        color: var(--GS01);
    }

    .btnContentWhite:before{
        background: linear-gradient(-45deg, transparent 27px, var(--GS01) 0);
    }
    .btnContentWhite:hover{
        color: var(--GS08);
    }

    .btnClose:hover img:first-child{
        transform: rotateZ(270deg);
    }
    .btnClose:hover img:last-child{
        transform: rotateZ(-270deg);
    }

    .btnSend{
        transition: color 0.3s 0.2s, background-color 0.3s;
    }
    .btnSend:hover{
        color: var(--BRS04); background-color: transparent;
    }

    .btnLearnMore:hover{
        color: var(--GS01);
    }

    .btnLearnMore:hover::before{
        width: 100%; opacity: 1;
    }

    .btnLearnMore:hover::after{
        opacity: 0; padding-left: 0px;
    }

    .btnVideo:hover{
        background-color: rgba(255, 255, 255, 0.15);
    }

    .checkPopupDelete input{
        transition: color 0.3s 0.2s, background-color 0.3s;
    }
    .checkPopupDelete input:hover{
        color: var(--GS01); background-color: var(--GS08);
    }

    .floatBoxDL:after,
    .productCollection:after{
        content: ''; display: block; clear: both;
    }
    .floatBoxDL>*,
    .productCollection>*{
        float: left;
    }
    .floatBoxP li div{
        min-height: 58px;
    }
    .productCollection ul{
        width: 50%;
    }
    .productCollection>div{
        position: sticky; top: 0; padding: var(--sp160) 7.5% 0 0; 
        max-width: 610px; width: 38.125%; margin-left: 4.375%;
    }
    .productCollection>div :not(:last-child){
        margin-bottom: var(--sp30);
    }
    .productCollection>div a{
        margin-left: calc(100% - 243px);
    }
    .autoSlide>li>div{
        display: flex; flex-wrap: wrap; gap: 0 20px;
    }
    .autoSlide>li>div>*:not(h4){
        align-self: center;
    }
    .autoSlide>li>div>div{
        width: 50%;
    }
    .autoSlide>li>div ol{
        width: calc(50% - 20px); position: relative;
    }
    .autoSlide>li>div ol li{
        transition: opacity 0.5s linear; opacity: 0; position: absolute; top: 0; left: 0;
        display: flex; align-items: center; width: 100%;
    }
    .autoSlide>li>div ol li.active{
        opacity: 1;
    }
    .autoSlide>li>div ol li em{
        color: var(--OS04); max-width: 345px; align-self: center; font-style: italic;
    }
    .autoSlide>li>div ol li img{
        margin-left: auto;
    }
    .listVideoContent{
        justify-content: space-between; row-gap: var(--sp30);
    }
    .listVideoContent>div:first-of-type{
        width: 60%;
    }
    .listVideoContent ul{
        width: 37.5%;
    }
    .listVideoContent ul li:after{
        content: ''; display: block; clear: both;
    }
    .listVideoContent ul li:not(:last-child){
        margin-bottom: 5%;
    }
    .listVideoContent ul li{
        display: flex;
    }
    .listVideoContent ul li a{
        width: 47.5%; max-width: 284px;
    }
    .listVideoContent ul li span{
        margin-left: 2.5%; align-self: center; width: 50%;
    }
    .listVideoContent>div:nth-of-type(2){
        width: 60%; margin-right: 2.5%;
    }
    .listVideoContent>div:nth-of-type(2) p{
        max-width: 800px;
    }
}
/* @media screen and (max-width: 767px){
    [class*='flexM']{display: flex;}
    [class*='wrapM']{flex-wrap: wrap;}
    .textCenterM{text-align: center;}
    .textRightM{text-align: right;}
    .marCenM{margin: 0 auto;}
} */
/* @media screen and (max-width: 1279px){
    [class*='flexSM']{display: flex;}
    [class*='wrapSM']{flex-wrap: wrap;}
    [class*='JCCSM']{justify-content: center;}
    .textCenterSM{text-align: center;}
    .textRightSM{text-align: right;}
    .marCenSM{margin: 0 auto;}
} */
/* @media screen and (min-width: 768px) and (max-width: 1279px){
    .textCenterT{text-align: center;}
    .marCenT{margin: 0 auto;}
} */
/* @media screen and (min-width: 768px){
    [class*='flexST']{display: flex;}
    [class*='wrapST']{flex-wrap: wrap;}
    [class*='JCBST']{justify-content: space-between;}
    [class*='JCCST']{justify-content: center;}
    .textCenterST{text-align: center;}
    .marCenST{margin: 0 auto;}
} */
/* @media screen and (min-width: 1280px){
    [class*='flexD']{display: flex;}
    [class*='JCCAICD']{justify-content: center; align-items: center;}
    [class*='AICD']{align-items: center;}
    [class*='JCBD']{justify-content: space-between;}
    [class*='ASCD']{align-self: center;}
    [class*='ASED']{align-self: flex-end;}
    [class*='JCCD']{justify-content: center;}
    .textCenterD{text-align: center;}
    .textRightD{text-align: right;}
    .textLeftD{text-align: left;}
    .marCenD{margin: 0 auto;}
} */